.containerHome {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
  width: 100vw;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: 0;
}

.appLogo {
  height: auto;
  max-width: 100%;
}

.sectionHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.section2Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.315);
  border-radius: 10px;
  border: 2px dashed white;
  height: 80vh;
  width: 40vw;
  padding-bottom: 3vw;
}

.title {
  font-size: 2.5vw;
  font-weight: bolder;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.35vw;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 40vw;
  height: 45vh;
}

.buttonWaiter,
.buttonCooker {
  display: flex;
  flex-direction: row;
  width: 20vw;
  height: 16vh;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: white;
  box-shadow: 10px 10px;
  font-size: 2vw;
  font-family: "Baloo Bhai 2";
  text-decoration: none;
  font-weight: bold;
  color: black;
  letter-spacing: 0.3vw;
}

.img {
  max-width: 10vw;
  height: auto;
}

/*--- --- RESPONSIVE TABLETS --- ---*/

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .containerHome {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    justify-items: center;
    align-items: center;
  }

  .logo {
    width: 100vw;
    height: 40vh;
    align-items: flex-end;
  }

  .appLogo {
    height: auto;
    min-width: 58%;
  }

  .sectionHome {
    width: 100vw;
    height: 60vh;
  }

  .section2Home {
    height: 55vh;
    width: 70vw;
  }

  .buttons {
    width: 60vw;
    height: 40vh;
  }

  .buttonWaiter,
  .buttonCooker {
    width: 30vw;
    height: 10vh;
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .appLogo {
    height: auto;
    max-width: 48%;
  }
}
