.boxButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 8vh;
  align-items: center;
}

.buttons {
  width: 10vw;
  height: 5.6vh;
  display: flex;
  align-items: center;
}

.pending {
  width: 10vw;
  height: 5.6vh;
  font-size: 1.1vw;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Baloo Bhai 2";
  background-color: #f31730;
  cursor: pointer;
  border: none;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pending:hover {
  background: #c00017;
  box-shadow: 0 4px 12px rgb(223, 167, 129);
  transition: all 0.2s ease;
}

.ready {
  width: 10vw;
  height: 5.6vh;
  font-size: 1.1vw;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Baloo Bhai 2";
  background-color: #49a12c;
  border: none;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.close {
  width: 10vw;
  height: 5.6vh;
  font-size: 1.1vw;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Baloo Bhai 2";
  background-color: #ed7586;
  cursor: pointer;
  border: none;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.close:hover {
  background: #df3047;
  box-shadow: 0 4px 12px rgb(223, 167, 129);
  transition: all 0.2s ease;
}

/*--- --- RESPONSIVE TABLETS --- ---*/

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .boxButtons {
    height: 4vh;
  }

  .buttons {
    width: 14vw;
    height: 3vh;
  }

  .pending,
  .ready,
  .close {
    width: 14vw;
    height: 3vh;
    font-size: 1.4vw;
  }
}
