.boxOrders {
  background-color: white;
  margin-right: 2vw;
  margin-left: 2vw;
  width: 25.5vw;
  height: 55vh;
  margin-bottom: 1.5vw;
  border-radius: 10px;
}

.header {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.orderBy {
  text-align: center;
  width: 100%;
  font-size: 1.4vw;
  margin: 0%;
}

.line {
  color: black;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 0%;
}

.text {
  height: 37vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clientName {
  height: 4.5vh;
  width: 100%;
  margin: 0;
  font-size: 1.15vw;
  padding-left: 0.8vw;
  padding-top: 0.3vw;
}

.mainTable {
  width: 90%;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.25vw;
  height: 8vh;
}

.table {
  display: flex;
}

.trName {
  width: 75%;
  font-size: 1.15vw;
}

.trQty {
  width: 10%;
  font-size: 1.15vw;
}

.title1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.title2 {
  font-size: 2.1vw;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.2vw;
}

.goodJob {
  max-width: 5vw;
  height: auto;
}

/*--- --- RESPONSIVE TABLETS --- ---*/

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .boxOrders {
    width: 40vw;
    max-height: 30vh;
  }

  .header {
    height: 5vh;
  }

  .orderBy {
    font-size: 1.62vw;
  }

  .text {
    height: 21vh;
  }

  .clientName {
    height: 3vh;
    font-size: 1.4vw;
    padding-top: 0.8vw;
  }

  .title {
    height: 3vh;
    font-size: 1.45vw;
  }

  .trName {
    font-size: 1.4vw;
  }

  .trQty {
    font-size: 1.4vw;
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .boxOrders {
    height: 26vh;
  }

  .text {
    height: 17vh;
  }
}
