.containerKitchen {
  display: flex;
  flex-direction: column;
  width: 98.5%;
}

.containerLink {
  position: absolute;
  left: 2%;
  top: 5%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.appLogo {
  display: flex;
  width: 28.28vw;
  height: 63vh;
  margin-top: -5%;
}

.containerOrders {
  display: flex;
  margin-top: -9.5%;
}

.return {
  height: auto;
  width: 35px;
}

.return:hover {
  box-shadow: 0 1px 7px rgb(185, 87, 21);
  transition: all 0.2s ease;
}

/*--- --- RESPONSIVE TABLETS --- ---*/

@media screen and (max-width: 1024px) {
  .appLogo {
    width: 43.28vw;
    height: 63vh;
    margin-top: -7%;
  }

  .containerOrders {
    margin-top: -14%;
  }

  .containerLink {
    left: 3.5%;
  }
}

@media screen and (max-width: 768px) {
  .appLogo {
    width: 56.28vw;
    height: auto;
    margin-top: -8%;
  }

  .containerOrders {
    margin-top: -16.5%;
  }

  .containerLink {
    left: 5%;
    top: 4%;
  }
}
