.containerKitchen {
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 98%;
  width: 100%;
  height: 100%;
  align-items: center;
}

.containerLink {
  position: absolute;
  left: 2%;
  top: 5%;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.appLogo {
  display: flex;
  width: 28.28vw;
  height: 63vh;
}

.containerOrders {
  display: flex;
  height: 64vh;
  overflow-y: auto;
  width: 98%;
  flex-direction: row;
  margin-top: -8%;
}

.return {
  height: auto;
  width: 35px;
}

.return:hover {
  box-shadow: 0 1px 7px rgb(185, 87, 21);
  transition: all 0.2s ease;
}
