.containerKitchen {
  display: grid;
  grid-template-rows: 35% 65%;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 40vh;
}

.appLogo {
  max-width: 100%;
  height: auto;
  padding-top: 1vw;
}

.containerLink {
  position: absolute;
  left: 2%;
  top: 5%;
}

.return {
  height: auto;
  max-width: 3vw;
  position: absolute;
  left: 2.5%;
  top: 5%;
}

.return:hover {
  box-shadow: 0 1px 7px rgb(185, 87, 21);
  transition: all 0.2s ease;
}

.containerOrders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: 72vh;
  margin-top: -2vw;
  overflow-y: auto;
}

/*--- --- RESPONSIVE TABLETS --- ---*/

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .containerKitchen {
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 1fr;
  }

  .logo {
    height: 25vh;
  }

  .containerOrders {
    height: 78vh;
    margin-top: -6vw;
  }

  .return {
    top: 4%;
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .containerOrders {
    height: 78vh;
    margin-top: -9.5vw;
  }
}
