.boxText {
  display: flex;
  height: 47vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  font-size: 1.6vw;
  margin-bottom: 0;
}

.food{
  display: flex;
  height: auto;
  max-width: 10vw;
}

.containerProducts {
  height: 47vh;
  overflow-y: auto;
}

.boxOrder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.products {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.514);
  width: 25vw;
  height: 6.4vh;
  font-size: 1.2vw;
  font-weight: normal;
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
}

.plusLess {
  border: none;
  width: 3.66vw;
  height: 6.4vh;
  font-size: 1.6vw;
  background-color: #fab85e;
  border-radius: 5px;
  cursor: pointer;
}

.plusLess:hover {
  background-color: #eb9114;
}

.number {
  margin-left: 13%;
  margin-right: 13%;
  font-size: 1.2vw;
}

.x {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ed7586;
  font-size: 1.9vw;
  width: 3.29vw;
  height: 6.4vh;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.x:hover {
  background-color: #df3047;
}

/*--- --- RESPONSIVE TABLETS --- ---*/

@media screen and (max-width: 1024px) and (orientation: portrait) {

  .boxText {
    height: 26vh;
  }

  .containerProducts {
    height: 26vh;
  }

  .boxOrder {
    height: 5vh;
  }

  .products {
    width: 35vw;
    height: 3.5vh;
    font-size: 1.4vw;
  }

  .buttons {
    height: 5vh;
  }

  .plusLess {
    width: 6vw;
    height: 3.5vh;
    font-size: 1.9vw;
  }

  .number {
    margin-left: 13%;
    margin-right: 13%;
    font-size: 1.5vw;
  }

  .x {
    font-size: 2.3vw;
    width: 6vw;
    height: 3.5vh;
  }

}
