.boxText {
  margin: 5%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  font-size: 1.3em;
}

.containerProducts {
  height: 40.9vh;
  overflow-y: auto;
}

.boxOrder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.products {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.514);
  width: 50%;
  height: 6.4vh;
  font-size: 1em;
  font-weight: normal;
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.plusLess {
  border: none;
  width: 3.66vw;
  height: 6.4vh;
  font-size: 1.4em;
  background-color: #fab85e;
  border-radius: 5px;
  cursor: pointer;
}

.plusLess:hover {
  background-color: #eb9114;
}

.number {
  margin-left: 13%;
  margin-right: 13%;
  font-size: 1em;
}

.x {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ed7586;
  font-size: 1.7em;
  width: 3.29vw;
  height: 6.4vh;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.x:hover {
  background-color: #df3047;
}

/*--- --- RESPONSIVE TABLETS --- ---*/

@media screen and (max-width: 1024px) {
  .containerProducts {
    height: 46.5vh;
    margin-left: 1%;
    margin-right: 1%;
  }

  .products {
    width: 50%;
    height: 6.4vh;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 768px) {
  .containerProducts {
    height: 43.5vh;
    margin-left: 1%;
    margin-right: 1%;
  }

  .products {
    width: 50%;
    height: 7.4vh;
    font-size: 0.9em;
  }

  .boxOrder {
    margin-bottom: 4%;
  }

  .plusLess,
  .x {
    width: 4.66vw;
    height: 4vh;
  }
}
