.waiter {
  display: grid;
  grid-template-rows: 35% 65%;
  grid-template-columns: 98%;
  width: 100%;
  height: 100%;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.appLogo {
  width: 29.28vw;
  height: auto;
}

.boxWhite {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -10%;
}

.boxMenu,
.boxOrder {
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  width: 45%;
  height: 65.6vh;
}

.inputsNames {
  margin: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 6%;
}

.inputClient,
.inputWaiter {
  display: flex;
  flex-direction: row;
  height: 4.8vh;
  border: 1px solid rgba(0, 0, 0, 0.664);
  margin-bottom: 4%;
  border-radius: 5px;
  background-color: #fab85e;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.inputClient {
  padding-left: 5.5%;
}

.inputWaiter {
  padding-left: 3%;
}

.names {
  position: relative;
  left: -5%;
  font-size: 1em;
}

.inputs {
  width: 19.76vw;
  height: 4.48vh;
  font-family: "Baloo Bhai 2";
  font-weight: bold;
  font-size: 1em;
}

.inputsTable {
  width: 5.12vw;
  height: 4.48vh;
  font-family: "Baloo Bhai 2";
  font-weight: bold;
  font-size: 1em;
}

.textOrder {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boxClient {
  display: flex;
  flex-direction: row;
}

.orderBy {
  font-size: 0.85em;
  margin-right: 7%;
}

.containerOrderBy,
.containerOrderByClient {
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  align-items: center;
  width: 10.98vw;
  justify-content: center;
}

.result {
  font-size: 1.07em;
  font-weight: bolder;
  margin-top: -14%;
}

.totalCount {
  margin-right: 8%;
}

.boxButton {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2%;
}

.orderButton {
  display: flex;
  height: 6.4vh;
  width: 13.17vw;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  background-color: #f16275;
  font-family: "Baloo Bhai 2";
  font-weight: bolder;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.orderButton:hover {
  background: #df3047;
  box-shadow: 0 4px 12px rgb(223, 167, 129);
  transition: all 0.2s ease;
}
.containerLink {
  position: absolute;
  left: 4%;
  top: 5%;
}

.return {
  height: auto;
  width: 35px;
}

.return:hover {
  box-shadow: 0 1px 7px rgb(185, 87, 21);
  transition: all 0.2s ease;
}

/*--- --- RESPONSIVE TABLETS --- ---*/

@media screen and (max-width: 1024px) {
  .appLogo {
    width: 38.28vw;
    height: auto;
  }

  .boxWhite {
    margin-top: -12%;
  }

  .boxMenu,
  .boxOrder {
    height: 67.6vh;
  }

  .orderButton {
    margin: 1%;
  }
}

@media screen and (max-width: 768px) {
  .appLogo {
    width: 54.28vw;
    height: auto;
    margin-top: -7%;
  }

  .boxWhite {
    margin-top: -15%;
  }

  .boxMenu,
  .boxOrder {
    height: 70.6vh;
    width: 47%;
  }

  .inputClient,
  .inputWaiter {
    height: 3.8vh;
  }

  .inputClient {
    margin-top: 4%;
  }

  .inputs,
  .inputsTable {
    width: 20.76vw;
    height: 3.58vh;
  }

  .inputsNames {
    flex-direction: column;
    margin-top: 6%;
    margin-bottom: 6%;
  }

  .textOrder {
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
  }

  .boxClient {
    width: 28.62vw;
    margin-left: 5%;
    justify-content: space-between;
    margin-bottom: -5%;
  }

  .totalCount {
    margin-bottom: 5%;
  }

  .boxButton {
    margin-top: 4%;
  }

  .orderButton {
    width: 20.17vw;
  }
}
